@import "tailwindcss";

@theme{
    --color-primary:#ffffff;
    --color-secondary:#00032b;
    --color-accent:#000080;
}

/* =/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}